#directories
node_modules
release

#OSX
.DS_Store
.AppleDouble
.LSOverride

#Windows
Thumbs.db
[Dd]esktop.ini

#vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json